@{
    ViewData["Title"] = "User panel";
}


<div class="text-center">
    <h1 class="display-4">Hello user @Model.Username. Your friends:</h1>
    
    <div class="d-flex w-100 flex-row">
        <div class="d-flex w-25"></div>
        <div class="d-flex flex-column w-50">
            @foreach (var user in Model.Friends)
            {
                <div class="d-flex flex-row w-100 justify-content-between align-items-baseline">
                    <p>@user.Username</p>
                    <a class="btn btn-primary" href="@Url.Action("RemoveFriend","User", new {username = Model.Username, usernameToRemove = user.Username})">Remove friend</a>
                </div>
            }
        </div>
        <div class="d-flex w-25"></div>
    </div>
    <div class="d-flex w-100 flex-row">
        <div class="d-flex w-25"></div>
        <div class="d-flex flex-column w-50">
            <form action="@Url.Action("AddFriend", "User")" method="post">
                <label for="username">Username:</label>
                <input type="hidden" value="@Model.Username" name="username" />
                <input type="text" name="usernameToAdd" />
                <input type="submit" value="Add friend" />
            </form>
        </div>
        <div class="d-flex w-25"></div>
    </div>

    <div class="d-flex w-100 flex-row">
        <div class="d-flex w-25"></div>
        <div class="d-flex flex-column w-50">
            <a class="btn btn-primary" href="@Url.Action("ExportFriends","User", new {username = Model.Username})">Export friends</a>
        </div>
        <div class="d-flex w-25"></div>
    </div>
    
</div>
